{% extends 'base.html' %}

{% block head %}
{% endblock %}


{% block body %}
    <div>
        <div class="login">
            <h1>Login</h1>
            <form action="/createuser" method="post">
                <input type="text" name="u" placeholder="Username" required="required" />
                <input type="password" name="p" placeholder="Password" required="required" />
                <button type="submit" class="btn btn-primary btn-block btn-large">Create User.</button>
            </form>
        </div>
        <!-- Display Error Messages -->>
        {% for message in messages %}
            <div class=flash>{{ message }}</div>
        {% endfor %}
    </div>
{% endblock %}